<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Student</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ab' %}">About us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'co' %}">Contact us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'co' %}">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'co' %}">Login</a>
    </li>
  </ul>
</nav>
