{% load static %}
<!DOCTYPE html>
<head>
	<title>Registration form:</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
</head>
<body>
<form method="POST">
	{% csrf_token %}
	<h2>Student Regisration form</h2>
	<label>Student Name : </label>
	<input type="text" name="sname"><br><br>
	<label>Student Year : </label>
	<input type="number" name="syear"><br><br>
	<label>Student branch : </label>
	<input type="text" name="branch"><br><br>
	<input type="submit" name="submit">
</form>
</body>
</html>